<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>maincontroller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePageController</servlet-name>
        <servlet-class>customercontroller.WelcomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListController</servlet-name>
        <servlet-class>admincontroller.AdminListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>maincontroller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>maincontroller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditController</servlet-name>
        <servlet-class>admincontroller.AdminEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>admincontroller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>admincontroller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>admincontroller.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>admincontroller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>customercontroller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>admincontroller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryEditController</servlet-name>
        <servlet-class>admincontroller.CategoryEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDelete</servlet-name>
        <servlet-class>admincontroller.CategoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoyUpdateController</servlet-name>
        <servlet-class>admincontroller.CategoyUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryCreateController</servlet-name>
        <servlet-class>admincontroller.CategoryCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePageController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/categorylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryEditController</servlet-name>
        <url-pattern>/categoryedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDelete</servlet-name>
        <url-pattern>/categorydelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoyUpdateController</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryCreateController</servlet-name>
        <url-pattern>/categorycreate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
